{% extends "layout/layout.html" %}
{% block head_css %}
{% endblock %}
{% block head_js %}
{% endblock %}

{% block body_content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                首页
{#                <small>Optional description</small>#}
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
{#                <li class="active">Here</li>#}
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

        <!-- /.content -->
    </div>
{% endblock %}

{% block body_js %}
{% endblock %}
